<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="UTF-8">
    <title>RedBook</title>
</head>

<div style="margin-left: 40%">
    <div>
        <h1>RV</h1>
    </div>
    <div>
        <p>上牌时间: {{data[0]}}</p>
        <p>行驶距离: {{data[2]}} 公里</p>
        <p>城市: {{data[1]}}</p>
        <p>品牌: {{data[3]}}</p>
        <p>系列: {{data[4]}}</p>
        <p>排量: {{data[5]}} T</p>
        <p>档位款式: {{data[6]}}</p>
        <p>车辆款式: {{data[7]}}</p>
        <p>款式发布时间: {{data[8]}}</p>
        <p>新车价格: {{data[9]}} 元</p>
        <h1>查询结果：{{data[10]}} 元</h1>
        <a href="#" onClick="javascript :history.back(-1);">返回再次查询</a>
<!--        <a href="/">返回再次查询</a>-->
    </div>
</div>

</body>
</html>